// _colors.scss

// ========================================
// COLOR PALETTE STYLE GUIDE
// ========================================

// General Colors
// --------------
$white: #ffffff;         // White
$black: #000000;         // Black
$grey-light: #f7f7f7;    // Light Grey
$grey: #cccccc;          // Grey
$grey-dark: #666666;     // Dark Grey
$red: #ff0000;           // Red
$green: #00ff00;         // Green
$blue: #0000ff;          // Blue

// Main Colors
// -----------------

$primaryColor: #F47B56;
$secondaryColor: #FFFFFF;
$btnColor: #F47B56;
$btnHoverColor: #E56A4F;

// ========================================
// END OF COLOR PALETTE STYLE GUIDE
// ========================================
